{% extends 'base.jinja' %}

{% macro rating_stars(rating) %}
    <div class="stars-outer">
        <div class="stars-inner" style="width: {{ rating * 20 }}%"></div>
    </div>
{% endmacro %}

{% block content %}
    {% if course %}
        <h3>{{ course["number"] }} {{ course["name"] }}</h3>

        <div>
            <div>
                Would <b>recommend</b> it
                {{ rating_stars(rating.recommended) }}
            </div>
            <div>
                <b>Interesting</b> content
                {{ rating_stars(rating.interesting) }}
            </div>
            <div>
                Approriate <b>difficulty</b>
                {{ rating_stars(rating.difficulty) }}
            </div>
            <div>
                Appropriate amount of <b>effort</b>
                {{ rating_stars(rating.effort) }}
            </div>
            <div>
                Amount and quality of <b>resources</b>
                {{ rating_stars(rating.resources) }}
            </div>
        </div>

        {% if reviews.length == 0 %}
            There is no review here yet. Would be nice if you add one if you took this course.
        {% else %}
            <div id="reviews">
                {% for review in reviews %}
                    <br>
                    <div class="box">
                        <p style="white-space: pre-wrap;">{{ review.review }}</p>
                        {% if review.semester %}
                            <div class="semester box">
                                {{ review.semester }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <p>This course number is not correct! If you think there should be a course with that number please contact me.</p>
    {% endif %}
{% endblock %}
